/*
* POSTS
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'
@import '../theme_styles/variables.styl'


#comments // Parent theme override
  cite, .writer
    font-size 90%
  .writer
    margin 0
    padding 0
    position relative

.comments-title
  font-size 130%

// @media screen_breakpoint_two

// @media screen_breakpoint_three