/*
* FOOTER
*/
@import '../theme_styles/colors.styl'

.main-footer
  background-color content_bg_color
  background-color content_bg_color_alpha
  padding 2%
  a
    color dark_brown

[class*="footer-widget"]
  padding 2%
  p
    margin-bottom 0

.site-generator, .site-created
  font-size 80%

.credits
  float right

