/*
* FOOTER
*/

.main-footer
  background-color rgba(211, 211, 211, 0.5)
  padding 2%
  a
    color rgb(85, 68, 0)

[class*="footer-widget"]
  padding 2%
  p
    margin-bottom 0

.site-generator, .site-created
  font-size 80%

.credits
  float right

