/*
* POSTS
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'
@import '../theme_styles/variables.styl'


input[type="reset"], input[type="button"], input[type="submit"], .continue-reading
    background-color vihreat_de_grona
    background-color vihreat_de_grona_alpha
    border 1px solid border_color
    border-radius 2px
    box-shadow inset 0 1px 1px rgba(255,255,255,0.2)
    color white
    cursor pointer
    display inline-block
    font-size 90%
    line-height 1.5
    margin 0
    padding 1% 2%
    text-transform none
    position relative
    text-align center
    text-decoration none
    text-shadow 0 1px 1px text_shadow_color
    transition background-color .3s ease-out
    white-space nowrap
    &:hover
      background-color button_hover_color
      color white

.continue-reading
  font-size 80%
  padding 1%

// @media screen_breakpoint_two

// @media screen_breakpoint_three