/*
* GLOBAL
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'

*
  box-sizing border-box

body, article, h1, h2, h3, h4, h5, p, .pure-u
  font-family 'Open Sans', 'Helvetica Neue', sans-serif

body
  background url('images/touko-aalto.png') 0 100% fixed no-repeat rgb(236, 240, 241)
  color #333
  line-height 1.5
body, input, textarea, article
  font-size 100%
h1
  font-size 200%
h2
  font-size 150%
h3
  font-size 120%
h4
  font-size 110%
// Parent theme override
#content
  h1, h2, h3, h4, h5, h6
    color basic_font
    line-height 1.5
    padding-bottom 0
a
  color basic_link
article
  line-height 1.75
figure
  text-align left
strong
  font-weight bold
ul
  margin 0 0 2% 3%
hr
  border none
  clear both
  margin 0
  width 100%

.fleft
  float left

.fright
  float right

::selection
  background vihreat_de_grona
  color basic_font

@media screen_breakpoint_one
  body
    font-size 90%

@media screen_breakpoint_two
  // Parent theme override
  #content
    h1, h2, h3, h4, h5, h6
      line-height 1.25
      padding-bottom 0

@media screen_breakpoint_three
  body
    font-size 80%

@media screen_breakpoint_four
  body
    font-size 75%