/*
* GLOBAL
*/
*
  box-sizing border-box

body, h1, h2, h3, h4, h5, p, .pure-u
  font-family 'Open Sans', 'Helvetica Neue', sans-serif

body
  background url(images/touko-aalto.png) 0 100% fixed no-repeat rgb(236, 240, 241)
  color #333
  font-size 100%
  line-height 1.5
h1
  font-size 200%
h2
  font-size 150%
h3
  font-size 120%
h4
  font-size 110%
h1, h2, h3, h4, h5, h6
  color rgb(45, 45, 45)
article
  line-height 1.75

figure
  text-align left

strong
  font-weight bold

hr
  border none
  margin 0
  width 100%

.fleft
  float left

.fright
  float right

.clearfix
  display table
  &:before, &:after
    content " "
    display table
  &:after
    clear both

@media only screen and (max-width: 800px)
  body
    font-size 90%

@media only screen and (max-width: 600px)
  body
    font-size 80%
  #main
    padding 0