/*
* GOOGLE CALENDAR
*/


.google-calendar
  background-color reddish
  background-color reddish_alpha
  margin 0 0 2%
  padding 2%
  .gce-widget-list
    font-size 90%
  .gce-list
    > li
      float left
      list-style none
      margin 0 2% 2% 0
      width gce_event_li_width
      &:nth-child(3n+4)
        clear both
    .gce-list-event
      background-color transparent
      font-weight 600
    .gce-list-title
      border-bottom 1px solid rgb(45, 45, 45)
    p span, div span
      color dark_brown

@media screen_breakpoint_one
  .google-calendar
    .gce-list
      > li
        float none
        width 100%

@media screen_breakpoint_mobile_small
  .google-calendar
    padding .5rem