/*
* GOOGLE CALENDAR
*/

event_li_width = 94/3% // 3 horizontal li elements - 2% margin in each

.google-calendar
  background-color rgb(168, 83, 31)
  background-color rgba(168, 83, 31, 0.5)
  margin 0 0 2%
  padding 2%
  .gce-widget-list
    font-size 90%
  .gce-list
    > li
      float left
      margin 0 2% 2% 0
      width event_li_width
    .gce-list-event
      background-color transparent
      font-weight 600
    .gce-list-title
      border-bottom 1px solid rgb(45, 45, 45)
    p span, div span
      color rgb(85, 68, 0)
