/*
* GRID
*/

@import '../theme_styles/mediaqueries.styl'
[class*="grid-"]
  position relative

.grid-100
  width 100%

.grid-50
  width 50%

.grid-50-with-gap
  margin 1% 0 0 0
  width 49%

@media screen_breakpoint_one
  .grid-50-with-gap
    width 100%