/*
* MAIN
*/

.container
  max-width content_max_width

.wrapper
  background-color transparent
  box-shadow none
  margin 0 auto
  max-width content_max_width
  min-width content_min_width

#main
  background-color content_bg_color
  background-color content_bg_color_alpha
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.2)
  padding 1rem

.main-content-data
  padding 1rem 2rem

@media screen_breakpoint_big
  .wrapper
    margin 0 auto 2.5%
    width 95%

@media screen_breakpoint_one
  #main
    padding 0

@media screen_breakpoint_two
  .one-column-template .container, .container
    width 100%

@media screen_breakpoint_three
  #main
    padding 0
  .one-column-template .container, .container
    width 100%