/*
* MAIN
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'
@import '../theme_styles/variables.styl'

.container
  max-width content_max_width
.wrapper
  background-color transparent
  box-shadow none
  margin 0 auto
  max-width content_max_width
  min-width content_min_width

ul
  margin 0

#main
  background-color content_bg_color
  background-color content_bg_color_alpha
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.2)

@media screen_breakpoint_two
  .one-column-template .container, .container
    width 100%

@media screen_breakpoint_three
  #main
    padding 0
  .one-column-template .container, .container
    width 100%