/*
* NEWSFEED
*/

.newsfeed-posts
  margin 2% 0
.newsfeed
  background-color vihreat_de_grona
  background-color vihreat_de_grona_alpha
  padding 2%
  & > div
    margin-bottom 2%
  & > h1
    margin-bottom 2%
  article
    background-color grayish
    background-color grayish_alpha
    box-shadow inset 0 0 10px rgba(10, 10, 10, 0.1)
    font-size 85%
    margin-bottom 2%
    padding 1.5%
    &:last-of-type
      margin-bottom 0
    a
      display block
      line-height 1.5
      text-align left
    .instagram-img a
      display inline-block
    &:nth-of-type(even)
      float right
    &:nth-of-type(odd)
      float left
  p
    font-size 90%
    margin 2% 0
    line-height 1.75
  figcaption
    float left
    margin 0
    padding 1em
    width 50%
  [class*="user-details"]
    margin-bottom 1em
  .newsfeed-logo
    background-color grayish
    background-color grayish_alpha
    box-shadow inset 0 0 10px rgba(10, 10, 10, 0.1)
    padding 0
    text-align center
    h1
      display inline-block
      margin .5rem 0
      padding 0
      .icon-twitter-bird
        margin-right .2em
  .all-blog-posts
    background-color grayish
    background-color grayish_alpha
    display inline-block
    padding 1rem
    &:hover
      background-color button_hover_color
      a
        color white
    a:hover
      color white

.facebook-newsfeed-img
  a
    color fb_color
    &:hover
      text-decoration underline
  .caption-link
    color rgb(128, 128, 128)
  span
    float left
    width 45%
    img
      border-right 1px solid rgba(0, 0, 0, 0.08)
      vertical-align top

.twitter-tweet-details
  .twitter-tweet-text
    a
      display inline-block

.newsfeed-icon, .newsfeed-icon-img
  float left
  margin 0 2% 0 0

.newsfeed-profile-img
  height 150px
  overflow hidden
  width 150px

.newsfeed-icon
  height 15px
  width 15px
  img
    vertical-align baseline

.newsfeed-icon-img
  height 50px
  overflow hidden
  width 50px

.datetime
  font-size 80%

// Parent theme override
#content
  .newsfeed
    h3
      padding-bottom 0

@media screen_breakpoint_min_width_one
  .newsfeed article
    float left
    display inline-block
  &:nth-of-type(even)
    float right
  &:nth-of-type(odd)
    float left

@media screen_breakpoint_one
  .newsfeed-posts
    float none
    width 100%

  .newsfeed
    padding .5rem
    article
      font-size 100%
      padding 1rem
      &:nth-of-type(even), &:nth-of-type(odd)
        float none
        margin .75rem 0


@media screen_breakpoint_mobile_small
  .newsfeed
    padding .5rem
    article
      font-size 120%
      padding 1rem
      &:nth-of-type(even), &:nth-of-type(odd)
        margin .5rem 0
      h1
        margin-bottom .5rem
    h1
      font-size 170%