/*
* POSTS
*/


.entry-header
  padding 0 2rem

.entry-content
  display block
  overflow hidden
  li
    font-size 95%
  p
    margin-bottom 1em
    margin-bottom 1rem
    &:last-of-type
      margin-bottom 0
  a
    text-decoration none

.entry-meta-bar
  background-color rgb(249, 249, 249)
  border-bottom 1px solid rgba(0, 0, 0, 0.035)
  border-top 1px solid rgba(0, 0, 0, 0.035)
  padding .75rem 0
.entry-title, .entry-meta
  a
    &:hover, &:focus, &:active
      color vihreat_de_grona
      transition all .3s ease-out

.entry-title
  a
    font-size 90%

.entry-meta
  float left
  font-size 75%
  margin .5rem
  a
    font-size 100%
    padding-left .25rem

.single
  .entry-meta
    background-color content_bg_color
    border-bottom 1px solid border_color
    float none
    margin 0

// Special styles to homepage
#home
  background none
  box-shadow none
  .entry-content
    overflow visible
    padding 0

// Parent theme override
#content
  .post, .page
    border-top 2px dashed border_color
    padding 2% 0
    &:first-child
      border none
      padding 0 0 2%
    .entry-title
      display inline-block
      margin 0
      padding 1rem 0 0

@media screen_breakpoint_pixel_ratio_two
  .entry-content
    p
      font-size 130%

@media screen_breakpoint_mobile_tablet
  .entry-content
    p
      font-size 110%
      line-height 1.8

@media screen_breakpoint_two
  .entry-meta
    float none
    margin 0 0 1%
