/*
* POSTS
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'
@import '../theme_styles/variables.styl'


.entry-header
  padding 0 2%

.entry-content p
  margin-bottom 2%
  &:last-of-type
    margin-bottom 0

.entry-title a:hover, .entry-title a:focus, .entry-title a:active
  color vihreat_de_grona
  transition all .3s ease-out

// @media screen_breakpoint_two

// @media screen_breakpoint_three