/*
* SEARCH FORM
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'

.searchform
  .search-input
    background-color grayish
    background-color grayish_alpha
    border 1px solid rgba(140, 140, 140, 0.5)
    border-radius 3px
    height auto
    padding 0.5rem
    width 100%
    &:focus
      background-color white
      border-color focus_color
      border-color focus_color_alpha

.no-search-results
  .entry-title
    padding 0
  .search-again
    margin 2% 0