/*
* SLIDER
*/
@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'

.featured-slider, .featured-slider .slider-cycle
  z-index 1
.featured-text
  background-color transparent
  background-color rgba(197, 197, 197, 0.35)
  bottom 15%
  font-size 95%
  left 45%
  overflow auto
  right 15%
  top 10%
  width auto
  left 5%
  right 5%
  .featured-title
    font-size 200%
.featured-content
  a
    color white
#controllers
  bottom 5%
  a
    background-color grayish_alpha
    color #333
    line-height 1.5
    height auto
    padding 2%
    width 10%

#controllers a.active, #controllers a:hover
  background-color vihreat_de_grona
  background-color vihreat_de_grona_alpha
  color #333

@media screen_breakpoint_two
  .featured-title, .featured-content, .featured-text
    display block
  .featured-text
    left 5%
    right 5%