/*
* SOCIAL MEDIA ICONS
*/

@import '../theme_styles/colors.styl'
@import '../theme_styles/mediaqueries.styl'

.icon-facebook-rect
  color fb_color
.icon-instagram
  color instagram_color
.icon-rss
  color rss_color
.icon-twitter-bird
  color twitter_color
.icon-wordpress
  color wp_color
.icon-euro
  color vihreat_de_grona

.social-media-icons
  margin 0
  li
    display inline-block
    margin-right 0.25em
    a
      font-size 140%
      &:hover
        border-bottom 2px solid #777
        color inherit

@media screen_breakpoint_three
  .social-media-icons
    li a
      font-size 200%