/*
* FACEBOOK AND TWITTER PAGES
*/

.social-media-boxes
  margin 2% 0
  > div
    margin 0
    max-width 520px
    min-height 180px
    width 48%
    .header
      padding 2%
      p
        line-height 2
  > div:last-of-type
    margin 0 1% 1%
  .facebook-user-details
    padding 2% 2% 0

.facebook-page
  .in-facebook
    background-color rgb(237, 239, 244)
    border-bottom 1px solid rgb(216, 223, 234)
    p
      font-size 80%
      font-weight 600
      margin 0
  .page-link
    margin-bottom 2%
  .fb-like
    max-width 100%
    overflow auto

.facebook-box, .twitter-page
  border 1px solid rgba(0, 0, 0, 0.1)
  font-size 95%

.facebook-box
  background-color grayish

// override parent theme
#content
  .twitter-page-details
    ul
      margin 0
    a
      color rgb(51, 51, 51)
  .twitter-user-details
    h1
      color white
      padding-bottom 0

.twitter-page
  background-color grayish_alpha
  .in-twitter
    background-color white
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    p
      font-size 80%
      font-weight 600
      margin 0
  .twitter-user-details
    background-position center
    color white
    padding 1rem .5rem
    position relative
    text-align center
    text-shadow 1px 1px 1px rgb(20, 20, 20)
    h1, a
      color white
    a:hover
      text-decoration underline
    .twitter-page-img
      float none
      display block
      margin 0 auto
      img
        border 2px solid white
  .twitter-user-description, .twitter-user-location
    font-size 85%
    text-align center
  .twitter-page-details
    font-size 85%
    ul, li
      display inline-block
    li
      border-left 1px solid rgb(232, 232, 232)
      padding .25em .75em
      &:first-of-type
        border-left none
      &:hover span
        color basic_font
      span
        color #999
        display block
        font-size 80%
        text-transform uppercase
    .follow-button
      float right
      margin 4px 4px 0

@media screen_breakpoint_one
  .social-media-boxes
    float none
    width 100%
    > div, > div:last-of-type
      margin 2% 0 0
      width 100%