/* Social media buttons */
.social-media-buttons
  padding 0 0 1%

.wrapper
  .social-media-buttons
    .fb_iframe_widget
      display inline-block
      min-width 100px

.tweet-button
  display inline-block

.fb_iframe_widget
  span, iframe
    max-width none
    min-width 100%
