/*
* SOCIAL MEDIA ICONS
*/

.icon-facebook-rect
  color #3b5998
.icon-instagram
  color #3f729b
.icon-twitter-bird
  color #00acee
.icon-rss
  color #ee802f
.icon-wordpress
  color #21759b

.social-media-icons
  li
    display inline-block
    margin-right 0.25em
    a
      font-size 140%
      &:hover
        border-bottom 2px solid #777

@media only screen and (max-width: 600px)
  .social-media-icons
    li a
      font-size 200%