.touko-the-politician-admin .pure-control-group label{
  width: 25%;
}
.touko-the-politician-admin .pure-control-group input{
  width: 40%;
}
.touko-the-politician-admin .pure-control-group input[type="checkbox"]{
  width: auto;
}
.touko-the-politician-admin .redirect-url{
  display: block;
}
.touko-the-politician-admin .smarterwiki-linkify{
  color: rgb(51, 51, 51);
  font-size: 80%;
  text-decoration: none;
}