/* COLORS */
basic_font = rgb(45, 45, 45)
basic_link = rgb(94, 127, 100)
border_color = rgb(190, 190, 190)
box_shadow = rgba(255, 255, 255, 0.2)
button_hover_color = rgb(77, 171, 6)
content_bg_color = rgb(248, 248, 248)
content_bg_color_alpha = rgba(248, 248, 248, 0.5)
dark_brown = rgb(85, 68, 0)
focus_color = rgb(30, 30, 240)
focus_color_alpha = rgba(30, 30, 240, 0.5)
grayish = rgb(245, 245, 245)
grayish_alpha = rgba(245, 245, 245, 0.8)
reddish = rgb(168, 83, 31)
reddish_alpha = rgba(168, 83, 31, 0.5)
slider_background = rgba(40, 40, 40, 0.2)
text_shadow_color = rgba(0,0,0,0.3)
vihreat_de_grona = rgb(97, 191, 26)
vihreat_de_grona_alpha = rgba(97, 191, 26, 0.8)

/* Brand colors via brandcolors.net */
fb_color = #3b5998
instagram_color = #3f729b
rss_color = #ee802f
twitter_color = #00acee
wp_color = #21759b