/* MEDIA QUERIES */

screen_breakpoint_one = "only screen and (max-width: 800px)"
screen_breakpoint_two = "only screen and (max-width: 767px)"
screen_breakpoint_three = "only screen and (max-width: 600px)"
screen_breakpoint_four = "only screen and (max-width: 400px)"

screen_breakpoint_min_width_one = "only screen and (min-width: 800px)"