@import url('../travelify/style.css')

global-reset()

@import 'theme_styles/colors'
@import 'theme_styles/mediaqueries'
@import 'theme_styles/variables'

@import 'base_styles/grid'
@import 'base_styles/global'
@import 'base_styles/header'
@import 'base_styles/main'
@import 'base_styles/comments'
@import 'base_styles/google-calendar'
@import 'base_styles/slider'
@import 'base_styles/footer'
@import 'base_styles/newsfeed'
@import 'base_styles/forms'
@import 'base_styles/posts'
@import 'base_styles/search-form'
@import 'base_styles/social-media-pages'
@import 'base_styles/social-media-icons'
@import 'base_styles/social-media-buttons'
@import 'base_styles/wp-pagenavi'
@import 'base_styles/ie'